
.theme-sunny {
  --bg-gradient: linear-gradient(215deg, rgb(250, 255, 182),  #90f5f9, #8ac0fe);

  --main-bg-color: #8ed7e9;
  --accent-bg: #bbfdff7c;

  --title-color: rgba(109, 146, 216, 0.308);
  --text-color: white;
  --secondary-text-color: rgba(109, 146, 216, 0.664);
  --city-text-color: rgb(246, 255, 162);

  --text-shadow-color: rgba(109, 146, 216, 0.308);

  --scrollbar-color: rgb(246, 255, 162);
  --search-color: rgb(246, 255, 162);
}

.theme-partcloudy {
  --bg-gradient: linear-gradient(215deg, #90f5f9, #b5d8e7, #cee2f3, #aac0e0, #87a7d8);

  --main-bg-color: #a3c3e5;
  --accent-bg: rgba(226, 237, 255, 0.158);

  --title-color: rgba(109, 146, 216, 0.308);
  --text-color: white;
  --secondary-text-color: rgba(109, 146, 216, 0.664);
  --city-text-color: rgba(249, 255, 192, 0.89);

  --text-shadow-color: rgba(109, 146, 216, 0.308);

  --scrollbar-color: rgb(193, 251, 255);
  --search-color: rgb(193, 251, 255);
}

.theme-cloudy {
  --bg-gradient: linear-gradient(215deg, #c5d2dd, #aac0e0, #adb8c5);

  --main-bg-color: #98adcd;
  --accent-bg: #abc1df7c;
  
  --title-color: rgba(93, 116, 160, 0.308);
  --text-color: white;
  --secondary-text-color: rgba(91, 100, 139, 0.664);
  --city-text-color: rgb(200, 220, 233);

  --text-shadow-color: rgba(96, 118, 160, 0.308);

  --scrollbar-color: rgb(200, 220, 233);
  --search-color: rgb(200, 220, 233);
}

.theme-rainy {
  --bg-gradient: linear-gradient(215deg, #c5d2dd, #6c8ec0);

  --main-bg-color: #89a0c0;
  --accent-bg: #9dc5fa31;
  
  --title-color: rgba(76, 83, 122, 0.308);
  --text-color: white;
  --secondary-text-color: rgba(58, 73, 100, 0.664);
  --city-text-color: #b5dbff;
  
  --text-shadow-color: rgba(63, 78, 110, 0.178);

  --scrollbar-color: #b5dbff;
  --search-color: #b5dbff;
}

.theme-snowy {
  --bg-gradient: linear-gradient(215deg, #ffffff, #dcf8ff, #cfdcff);

  --main-bg-color: #c0deee;
  --accent-bg: rgba(133, 169, 199, 0.205);

  --title-color: rgba(133, 169, 199, 0.507);
  --text-color: white;
  --secondary-text-color: rgb(255, 245, 180);
  --city-text-color:  rgba(133, 169, 199, 0.507);

  --text-shadow-color: rgba(123, 171, 211, 0.61);
  
  --scrollbar-color: rgb(203, 255, 248);
  --search-color: rgba(133, 169, 199, 0.507);
}

.theme-stormy {
  --bg-gradient: linear-gradient(215deg, #96a6d3, #565e8a);

  --main-bg-color: #949dd1;
  --accent-bg: #515b8646;
  
  --title-color: #bdb2ff60;
  --text-color: white;
  --secondary-text-color: rgba(190, 167, 255, 0.664);
  --city-text-color: rgb(255, 215, 107);

  --text-shadow-color: #3e3e5e18;
  
  --scrollbar-color: rgb(255, 232, 157);
  --search-color: rgb(255, 232, 157);
}

.theme-windy {
  --bg-gradient: linear-gradient(215deg, #c7eeff, #b8d4ff, rgb(231, 243, 255));

  --main-bg-color: #a7c5ee;
  --accent-bg: #8199bb3f;
  
  --title-color: rgba(120, 148, 201, 0.308);
  --text-color: white;
  --secondary-text-color: rgba(64, 90, 138, 0.308);
  --city-text-color: rgba(64, 90, 138, 0.308);

  --text-shadow-color: rgba(120, 148, 201, 0.308);
  
  --scrollbar-color: rgba(230, 228, 255, 0.692);
  --search-color: rgba(230, 228, 255, 0.692);
}
