* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.outer-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  height: 800px;
  width: 500px;
  background-color: rgb(228, 228, 248);
}