@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Oswald:wght@400&display=swap');

* {
  box-sizing: border-box;
}


:root:has(#sunny:checked) {
  --bg-gradient: linear-gradient(215deg, rgb(250, 255, 182),  #90f5f9, #8ac0fe);
  --main-bg-color: rgba(109, 146, 216, 0.308);
  --accent-bg: #bbfdff7c;
}

:root:has(#rainy:checked) {
  --bg-gradient: linear-gradient(215deg, #c5d2dd, #6c8ec0);
  --main-bg-color: rgba(76, 83, 122, 0.308);
  --accent-bg: #94aad1;
}

:root:has(#partcloudy:checked) {
  --bg-gradient: linear-gradient(215deg, #90f5f9, #b5d8e7, #c5d2dd, #aac0e0, #87a7d8);
  --main-bg-color: rgba(109, 146, 216, 0.308);
  --accent-bg: #bbfdff7c;
}

:root:has(#cloudy:checked) {
  --bg-gradient: linear-gradient(215deg, #c5d2dd, #87a7d8);
  --main-bg-color: rgba(75, 102, 255, 0.308);
  --accent-bg: #a1b6e2;
}

:root:has(#windy:checked) {
  --bg-gradient: linear-gradient(215deg, #c5d2dd, #87a7d8);
  --main-bg-color: rgba(75, 102, 255, 0.308);
  --accent-bg: #a1b6e2;
}

:root:has(#snowy:checked) {
  --bg-gradient: linear-gradient(215deg, #ffffff, #dcf8ff, #cfdcff);
  --main-bg-color: rgba(131, 182, 223, 0.308);
  --accent-bg: #9dbbd6;
}

:root:has(#stormy:checked) {
  --bg-gradient: linear-gradient(215deg, #96a6d3, #565e8a);
  --main-bg-color: rgba(189, 187, 255, 0.308);
  --accent-bg: #6f7da5;
}

body, html {
  height: 100%;
 
  font-family: 'Oswald', sans-serif;
}

/* TEXT */

h1 {
  font-size: 70px;
  color: var(--main-bg-color);
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;

}

h2 {
  font-size: 120px;
  color: white;

  text-shadow: var(--main-bg-color) 0 0 10px;
}

h3 {
  font-size: 20px;
  color: white;
}

h4 {
  font-size: 25px;
  color: white;
  text-shadow: var(--main-bg-color) 0 0 10px;
  
  font-family: 'Oswald', sans-serif;
}

p {
  color: white;
}

input {
  border: none;
  padding: 10px;
  border-radius: 15px;
  width: 90%;

  font-family: 'Oswald', sans-serif;
}

button {
  border: none;
  border-radius: 50px;
}

/* COMPONENTS */
.outer-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: var(--bg-gradient);
  background-size: 200%;
  animation: bg-animation 5s infinite alternate;
}

main {
  display: flex;
  flex-direction: column;
  width: min(500px, 90%);
}

.theme-toggles {
  display: flex;
}

.weather-report-container {
  background-color: var(--main-bg-color);
  
  gap: 20px;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}

main path {
  fill: var(--main-bg-color);
}

.top-row {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.top-row h2 {
  padding-top: 10px;
}

.city-suggestions {
  width: min(426px, 76%);
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  padding-bottom: 10px;

  z-index: 999;

  border-radius: 0 0 15px 15px;
  background-color: white;
}

.city-suggestions p {
  color: black;
  padding: 5px;
  cursor: pointer;
}

.city-suggestions p:hover {
  background-color: var(--accent-bg);
}

.current-weather {
  display: flex;
  position: absolute;

  margin-top: -130px;
  margin-left: -20px;

  justify-content: center;
  text-align: center;

  gap: 20px;
  
  width: min(500px, 90%);
}

.temp-container {
  display: flex;
  align-items: center;
}

.hourly-forecast-container {
  display: flex;
  gap: 40px;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 30px;
  
  overflow-x: auto;
  
  background-color: var(--accent-bg);
}

.hour-div {
  text-align: center;
}

.dressing-advice {
  display: flex;
  gap: 20px;
}

.advice-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 30px;
}

.advice-container p {
  padding: 20px;
  color: black;
}

.dressing-image {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-bg);
  border-radius: 100% 0 0 0;
}

.selected {
  font-style: bold;
  color: black;
}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right}
}