@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

* {
  box-sizing: border-box;
}


:root {
  --bg-gradient: linear-gradient(215deg, rgb(250, 255, 182),  #90f9d9, #8AECFE);
  --main-bg-color: rgb(42, 104, 219, 0.308);
  --accent-bg: #bbfdff7c;
}

body, html {
  height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/* TEXT */

h1 {
  font-size: 50px;
  color: rgba(58, 58, 122, 0.26);
  margin-bottom: 20px;
}

h2 {
  font-size: 120px;
  color: white;
}

h3 {
  font-size: 20px;
  color: white;
}

p {
  color: white;
}

input {
  border: none;
  padding: 5px;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 50px;
}

/* COMPONENTS */
.outer-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: var(--bg-gradient);
  background-size: 200%;
  animation: bg-animation 10s infinite alternate;
}

main {
  background-color: var(--main-bg-color);

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 120px;
  border-radius: 0 0 15px 15px;

  width: min(500px, 90%);
}

main svg {
  position: absolute;
  margin-left: -20px;
  margin-top: -131px;
  z-index: 1;
  width: min(500px, 90%);
}

main path {
  fill: var(--main-bg-color);
}

.top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(500px, 90%);
}

.current-weather {
  display: flex;
  position: absolute;
  margin-top: -140px;

  justify-content: center;
  gap: 80px;

  z-index: 100;
  width: min(500px, 90%);
  text-align: center;
}

.temp-container {
  display: flex;
  align-items: center;
}

.hourly-forecast-container {
  display: flex;
  gap: 40px;
  padding: 15px 30px;
  border-radius: 15px;

  margin-top: 30px;
  
  overflow-x: auto;
  
  background-color: var(--accent-bg);
}

.hour-div {
  text-align: center;
}

.dressing-advice {
  display: flex;
  gap: 20px;
}

.advice-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 30px;
}

.advice-container p {
  padding: 20px;
  color: black;
}

.dressing-image {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-bg);
  border-radius: 100% 0 0 0;
}

.selected {
  font-style: bold;
  color: red;
}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right}
}